# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env*

# Virtual Environments
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_*

# Project specific
.env
.chroma/
data/
!data/samples/
tables_p*
temp_*
chart_*
.cache
example_*
*.sh
.chainlit
.files
tourism_chroma_db/

# Testing
.coverage*
htmlcov/
.pytest_cache/
